body {
  font-family: 'Roboto';
  font-size: 14px;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15em 0 0 -30em;
  height: 31em;
  width: 60em;
}

.blend {
  float: right;
  height: 31em;
  width: 31em;
}

.blend figure {
  float: left;
  margin: 0;
  width: 50%;
  height: 50%;
  background: no-repeat center;
  background-image: url("photo.jpg");
  background-blend-mode: luminosity;
  background-size: cover;
}

.blend figure:nth-child(1) {
  background-color: red;
}
.blend figure:nth-child(2) {
  background-color: blue;
}
.blend figure:nth-child(3) {
  background-color: green;
}
.blend figure:nth-child(4) {
  background-color: yellow;
}