body {
  margin: 5px;
  font-family: 'Roboto';
  font-size: 14px;
  color: #aaa;
}

h2 {
  font-weight: 300;
}

.cell {
  float: left;
  position: relative;
  width: 33.3333%;
}

.cell:before {
  display: block;
  padding-top: 100%;
  content: "";
}

.cell__content {
  position: absolute;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
}

.cell_name .cell__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell_name .cell__content,
.cell_info .cell__content {
  border: 1px solid #ccc;
  padding: 20px;
}

.cell_name .cell__content:before,
.cell_info .cell__content:before {
  position: absolute;
  z-index: -1;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  content: "";
  border: 1px solid #ccc;
}


.blend {
  height: 100%;
  width: 100%;
}

.blend figure {
  float: left;
  margin: 0;
  width: 50%;
  height: 50%;
  background: no-repeat center;
  background-image: url("photo.jpg");
  background-blend-mode: luminosity;
  background-size: cover;
}

.blend figure:nth-child(1) {
  background-color: red;
}
.blend figure:nth-child(2) {
  background-color: blue;
}
.blend figure:nth-child(3) {
  background-color: green;
}
.blend figure:nth-child(4) {
  background-color: yellow;
}

svg {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 240px;
}

text {
  fill: none;
  stroke: #333;
  stroke-width: .5;
  shape-rendering: crispEdges;
  text-anchor: middle;
  font-size: 40px;
}

tspan {
  alignment-baseline: middle;
  -webkit-animation: dash .7s linear forwards;
}

tspan:nth-child(2) {
  -webkit-animation-delay: .7s;
}
tspan:nth-child(3) {
  -webkit-animation-delay: 1.4s;
}
tspan:nth-child(4) {
  -webkit-animation-delay: 2.1s;
}
tspan:nth-child(5) {
  -webkit-animation-delay: 2.8s;
}
tspan:nth-child(6) {
  -webkit-animation-delay: 3.5s;
}
tspan:nth-child(7) {
  -webkit-animation-delay: 4.2s;
}
tspan:nth-child(8) {
  -webkit-animation-delay: 4.9s;
}
tspan:nth-child(9) {
  -webkit-animation-delay: 5.6s;
}
tspan:nth-child(10) {
  -webkit-animation-delay: 6.3s;
}
tspan:nth-child(11) {
  -webkit-animation-delay: 7s;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}